<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
		<category 
		   id="de.libutzki.xtext.tools"
		   name="%Views.category.XtextTools">
		</category>
      <view
            class="de.libutzki.xtext.semanticmodeloutline.ui.SemanticModelOutlineExecutableExtensionFactory:de.libutzki.xtext.semanticmodeloutline.ui.view.SemanticModelOutline"
            
            id="de.libutzki.xtext.semanticview.ui.view.semanticmodeloutline"
            name="%Views.SemanticModelView" 
            category="de.libutzki.xtext.tools"
            restorable="true">
      </view>
   </extension>

</plugin>
