<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="xtexttools" sequenceNumber="8">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="4.3.1.M20130911-1000"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.3"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtext.runtime.feature.group" version="2.8.4.v201508050135"/>
<unit id="org.eclipse.xtext.ui.feature.group" version="2.8.4.v201508050135"/>
<repository location="https://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.8.4"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="https://download.eclipse.org/modeling/m2t/xpand/updates/releases/R201406030414/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="https://download.eclipse.org/modeling/emft/mwe/updates/releases/2.8.3/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="http://download.eclipse.org/modeling/emf/emf/builds/release/2.10"/>
</location>

</locations>
</target>
